<header class="row">
	<div class="col-md-2">
		<button type="button" class="btn btn-default" ng-click="add()"><span class="glyphicon glyphicon-plus" style="color:green"></span> Ajouter un aliment</button>
	</div>
	<div class="col-md-2 search-form">
		<form class="form-inline" role="form">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control search-bar" type="text" placeholder="Rechercher"/>
					<div class="input-group-addon glyphicon glyphicon-search btn"></div>
				</div>
			</div>
		</form>
	</div>
</header>
<article class="row table-responsive list-table">
	<table class="table table-hover table-bordered">
		<thead>
			<tr class="success">
				<th></th>
				<th>Id</th>
				<th>Nom</th>
				<th>Catégorie</th>
				<th><span class="glyphicon glyphicon-pencil" style="color:green"></span></th>
				<th><span class="glyphicon glyphicon-trash" style="color:red"></span></th>
			</tr>
		</thead>
		<tbody ng-init="dev_item=[]">
			<tr ng-init="dev_item[aliment.id]=false" ng-repeat-start="aliment in aliments" ng-class="(($index%2) == 1) ? 'active' : ''">
				<td rowspan="2"><span ng-class="dev_item[aliment.id]?'glyphicon glyphicon-collapse-down':'glyphicon glyphicon-expand'" ng-click="dev_item[aliment.id]=!dev_item[aliment.id]"></span></td>
				<td rowspan="2">{{aliment.id}}</td>
				<td>{{aliment.nom}}</td>
				<td><span ng-repeat="cat in aliment.categories">{{cat.nom}}</span></td>
				<td rowspan="2"><span class="glyphicon glyphicon-pencil btn" style="color:green" ng-click="update(aliment.id)"></span></td>
				<td rowspan="2"><span class="glyphicon glyphicon-trash btn" style="color:red" ng-click="delete(aliment.id)"></span></td>
			</tr>
			<tr ng-repeat-end>
				<td colspan="2" ng-show="dev_item[aliment.id]">Déclinaison :<button type="button" class="btn btn-default" ng-click="addDeclinaison()"><span class="glyphicon glyphicon-plus" style="color:green"></span> Ajouter une déclinaison</button>
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th><span class="glyphicon glyphicon-pencil" style="color:green"></span></th>
								<th><span class="glyphicon glyphicon-trash" style="color:red"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dec in aliment.declinaisons">
								<td>{{dec.id}}</td>
								<td>{{aliment.nom+" "+parseEtat(dec.etats)}}</td>
								<td><span class="glyphicon glyphicon-pencil btn" style="color:green" ng-click="updateDeclinaison(dec.id)"></span></td>
								<td><span class="glyphicon glyphicon-trash btn" style="color:red" ng-click="deleteDeclinaison(dec.id)"></span></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</article>
<footer style="text-align:center">
	<pagination total-items="nbAliments" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
</footer>
